{erl_opts, [
    debug_info, 
    export_all, 
    nowarn_export_all
]}.

{plugins, [rebar3_hex, rebar3_ex_doc]}.

{deps, [
    poolboy
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [ip2region]}
]}.

{ex_doc, [
    {extras, ["README.md"]},
    {main, "README.md"},
    {source_url, "https://github.com/leihua996/ip2region/tree/master/binding/erlang"}
]}.

{hex, [{doc, ex_doc}]}.
