*.class
*.out
*.o
*.pyc
*~
*.log
*.la
*.so
META-INF/

# Binary Files #
*.jar
!dbMaker-*.jar

# Package Files #
.settings/
.classpath
.project

# vim swp file #
*.swp
.idea

# binding
/binding/java/classes/
/binding/java/doc/
/binding/java/target/
/binding/java/*.jar

/binding/c/testSearcher

# rust
Cargo.lock
target


# VS ignore cases
/**/*.sln
/binding/c#/**/.vs/
/binding/c#/**/packages
/binding/c#/**/bin
/binding/c#/**/obj

# Nodejs
/binding/nodejs/tests/unitTests/__snapshots__
/binding/nodejs/coverage
